a {
    text-decoration: none;
}
li {
    list-style: none;
}
.wrapper {
    margin: 10px;
}
 a:visited {
color: black;
 }
 svg {
    fill: white;
    margin-right: 10px;
 }
 body{
    font-family: 'Montserrat', sans-serif;
 }
 p {margin: 0;
padding: 0;
}

.logo_img {
    max-width: 150px;
    background-color: transparent;
}
