.reviews {
  padding-bottom: 0px;
}
.reviews__title {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  padding-bottom: 80px;
  color: #404040;
  margin: 0;
}

.reviews__title span {
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #e55f73;
    top: -35px;
    right: -50px;
    border-radius: 50px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba($color: #e55f73, $alpha: 0.7);
    top: 50%;
    right: -25px;
    border-radius: 50px;
    transform: translate(-15px, -50%);
    z-index: -1;
  }
}
.reviews__text {
  min-width: 180px;
  max-width: 180px;
  background-color: rgba($color: gray, $alpha: 0.1);
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  &_image-title{
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
  }
    &_description {
      padding-top: 5px;
      font-size: 10px;
    }
}
.reviews__text_image img {
  margin-right: auto;
  margin-left: auto;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
}
.reviews__description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
